<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>KIDS</span>-PALACE</h1>
									<h2>Toys you will not find in any other place</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<%= image_tag("4.jpg", size: "500x400")%>
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>KIDS</span>-PALACE</h1>
									<h2>Toys you will not find in any other place</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<%= image_tag("4.jpeg", size: "500x400")%>
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>KIDS</span>-PALACE</h1>
									<h2>Toys you will not find in any other place</h2>
									<p>Welcome  </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<%= image_tag("5.jpg", size: "500x400")%>
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section>
<!--/slider-->

<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#mens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Boys
										</a>
									</h4>
								</div>
								<div id="mens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">Toys</a></li>
											<li><a href="#">Bicycles</a></li>
											<li><a href="#">Sports wear</a></li>
											<li><a href="#">Other</a></li>
											
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#womens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Girls
										</a>
									</h4>
								</div>
								<div id="womens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">Toys</a></li>
											<li><a href="#">Dolls</a></li>
											<li><a href="#">Sports wear</a></li>
											<li><a href="#">Other</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Kids Fashion</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Clothing</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Bags</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Shoes</a></h4>
								</div>
							</div>
						</div><!--/category-products-->
					
					</div>
				</div>

				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<%= image_tag("4.jpg", size: "300x190" )%>
											<p>Easy Polo Black Edition</p>
											
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												
												<p>Easy Polo Black Edition</p>
												
											</div>
										</div>
								</div>
								
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<%= image_tag("4.jpeg", size: "300x190" )%>
										<p>Easy Polo Black Edition</p>
										
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											
											<p>Easy Polo Black Edition</p>
											
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<%= image_tag("4.jpeg", size: "300x190" )%>
										<p>Easy Polo Black Edition</p>
										
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											
											<p>Easy Polo Black Edition</p>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<%= image_tag("3.jpg", size: "300x190" )%>
										<p>Easy Polo Black Edition</p>
										
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<p>Easy Polo Black Edition</p>
											
										</div>
									</div>
									
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<%= image_tag("2.jpg", size: "300x190" )%>
										<p>Easy Polo Black Edition</p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<p>Easy Polo Black Edition</p>
											
										</div>
									</div>
									
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<%= image_tag("1.jpg", size: "300x190" )%>	
										<p>Easy Polo Black Edition</p>
										
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											
										</div>
									</div>
								</div>
								<div class="choose">
									
								</div>
							</div>
						</div>
						
					</div><!--features_items-->
				</div>
			</div>